In [8]:
import pandas as pd
import numpy as np
import pickle

In [9]:
df_train=pd.read_csv('train_final.csv',index_col=False)
labels=df_train[['784']]

In [10]:
df_train.drop(df_train.columns[[784]],axis=1,inplace=True)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
3,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
4,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0

In [11]:
np.random.seed(1212)
import keras
from keras.models import Model
from keras.layers import *
from keras import optimizers
from keras.layers import Input, Dense
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras.utils import np_utils
from keras import backend as K
K.image_data_format()

'channels_last'

In [12]:
labels=np.array(labels)

In [13]:
from keras.utils.np_utils import to_categorical
cat=to_categorical(labels,num_classes=13)

In [14]:
print(cat[0])

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0.]

In [15]:
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
3,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
4,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0

In [16]:
df_train.shape

(153072, 784)

In [17]:
temp=df_train.to_numpy()

In [18]:
X_train = temp.reshape(temp.shape[0], 28, 28, 1)

In [19]:
temp.shape[0]

153072

In [20]:
X_train.shape

(153072, 28, 28, 1)

In [21]:
l=[]
for i in range(47504):
    l.append(np.array(df_train[i:i+1]).reshape(1,28,28))

In [22]:
np.random.seed(7)

In [23]:
len(l[0])

1

In [24]:
X_train.shape

(153072, 28, 28, 1)

In [25]:
model = Sequential()
model.add(Conv2D(32, (3,3), input_shape=(28, 28,1), activation='relu',padding='same'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Conv2D(15, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dense(50, activation='relu'))
model.add(Dense(13, activation='softmax'))
# Compile model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [26]:
from keras.models import model_from_json

In [27]:
model.fit(X_train, cat, epochs=10, batch_size=200,shuffle=True,verbose=1)

Epoch 1/10
766/766 [==============================] - 46s 59ms/step - loss: 0.3912 - accuracy: 0.9101
Epoch 2/10
766/766 [==============================] - 41s 53ms/step - loss: 0.0684 - accuracy: 0.9803
Epoch 3/10
766/766 [==============================] - 44s 57ms/step - loss: 0.0419 - accuracy: 0.9880
Epoch 4/10
766/766 [==============================] - 42s 55ms/step - loss: 0.0308 - accuracy: 0.9909
Epoch 5/10
766/766 [==============================] - 41s 54ms/step - loss: 0.0245 - accuracy: 0.9924
Epoch 6/10
766/766 [==============================] - 41s 53ms/step - loss: 0.0214 - accuracy: 0.9934
Epoch 7/10
766/766 [==============================] - 43s 56ms/step - loss: 0.0181 - accuracy: 0.9945
Epoch 8/10
766/766 [==============================] - 41s 54ms/step - loss: 0.0169 - accuracy: 0.9948
Epoch 9/10
766/766 [==============================] - 40s 52ms/step - loss: 0.0134 - accuracy: 0.9961
Epoch 10/10
766/766 [==============================] - 38s 50ms/step - loss: 0.0137 - accuracy: 0.9958

In [28]:
model_json = model.to_json()
with open("model_final.json", "w") as json_file:
    json_file.write(model_json)
# serialize weights to HDF5
model.save_weights("model_final.h5")